In [ ]:
#machine learning tutorials 
# def : we build a model and give it lots of data, In our model we give the model tens of thousands of pictures of apples , oranges , mangos and pineapple
#Now the model will find and learn patterns in the input data

#Once the learning is done, when we give it a new picture of a mango that it hasn't seen before and risk it if it is an apple or mango or a pineapple, it will tell us the result with a certain level of accuracy

#Machine learning Pipeline:
#1. Import the data:

#Data is typically imported in the form of a CSV file.

#If you have a database with lots of data, you can simply export that data and store it in a CSV file for the purpose of our machine learning project.


#2 Clean the data:
# Remove duplicates as it can confuse the model and make it think certain patterns are more important than they really are, leading to worse
# predictions.

# Handle missing values to ensure the model has complete informaton.
#Identify and remove extreme values that can distort the model's learning.

#For eg : if you are training a model to predict people's height, most peope are between 4 and 7 feet tall, but if there's a data point showing someone
# is 20 feet tall, it is likely a mistake.

#Make text data consistent by converting to lowercase removing punctuationand eliminating extra spaces.

#3. Split the data into training/ test set
# Now that we have a clean data set, we need to split it into two segments - one for training the model and one for testing one for it.
#For example, if we have a 1000 pictures of apples and mangoes, we can reserve 80% of it training the model and the other 20% for testing it.

#4 Create a model:
# This involves selecting an algorithm to analyse the data
# There are many machine learning algorithms to pick - such as decision trees, neural network and so on.
# Each algorithm has it's pro's and cons in terms of accuracy and performance.
# So algo you will choose depends on the kind of problem you are trying to solve and your input data.
# The good news is that we do not have to program an algorithm ourselves, There are libraries out there provide you with the algorithm.


#5 Train the model:
# We train the model by feedin it our training data.
# Our model will then look for patterns in the data.

#6. Make predictions
# Once the model is trained, we can ask it to make predictions 
# In our example of apples and mangoes, we can ask our model to predict, if a given fruit picture is an apple or mango.
# Now the model will try to make a prediction
# The prediction may not be always accurate. In fact, at the beginning, it is very likely it will give wroong predictions.

#7. Evaluate and Improve:
# So we have to evaluate the predictions and measure the accuracy.
# If the accuracy scores are low, we either have to:
  # - Select a different algorithm that will produce a more accurate result for the problem that we are trying to solve or,
  # - Fine-tune the parameters of our model. Each model has parameters that you can modify to optimise the accuracy. 
  
  
# OVERALL WORKFLOW OF A MACHINE LEARNING PIPELINE

# IMPORT THE DATA --> CLEAN THE DATA --> SPLIT THE DATA INTO TRAINING & TEST SETS --> CREATE A MODEL --> TRAIN THE MODEL --> MAKE PREDICTIONS.


# Popular tools and Libraries.
# Numpy & Pandas
# MatPlotLib
# Scikit-Learn

In [4]:
import pandas as pd
df = pd.read_csv('vgsales.csv') # here is df is the panda dataframe , more of like a excel sheet for ml models
df.shape

(16598, 11)

In [7]:
df.describe() # returns basic info about each column in the taken dataset.

,Rank,Year,NA_Sales,EU_Sales,JP_Sales,Other_Sales,Global_Sales
count,16598.000000,16327.000000,16598.000000,16598.000000,16598.000000,16598.000000,16598.000000
mean,8300.605254,2006.406443,0.264667,0.146652,0.077782,0.048063,0.537441
std,4791.853933,5.828981,0.816683,0.505351,0.309291,0.188588,1.555028
min,1.000000,1980.000000,0.000000,0.000000,0.000000,0.000000,0.010000
25%,4151.250000,2003.000000,0.000000,0.000000,0.000000,0.000000,0.060000
50%,8300.500000,2007.000000,0.080000,0.020000,0.000000,0.010000,0.170000
75%,12449.750000,2010.000000,0.240000,0.110000,0.040000,0.040000,0.470000
max,16600.000000,2020.000000,41.490000,29.020000,10.220000,10.570000,82.740000

In [5]:
df.values # returns a two dimensional 

# The square bracket outside returns the outer array and
# The second bracket shows the inner array.

array([[1, 'Wii Sports', 'Wii', ..., 3.77, 8.46, 82.74],
       [2, 'Super Mario Bros.', 'NES', ..., 6.81, 0.77, 40.24],
       [3, 'Mario Kart Wii', 'Wii', ..., 3.79, 3.31, 35.82],
       ...,
       [16598, 'SCORE International Baja 1000: The Official Game', 'PS2',
        ..., 0.0, 0.0, 0.01],
       [16599, 'Know How 2', 'DS', ..., 0.0, 0.0, 0.01],
       [16600, 'Spirits & Spells', 'GBA', ..., 0.0, 0.0, 0.01]],
      dtype=object)

In [ ]:
# Jupyer shortcuts 
# shift + tab gives the description